/*@font-face{
  src: url("./fonts/AvenirNext.ttf");
  font-family: 'AvenirNext';
  font-weight: 300;
}

@font-face{
  src: url("./fonts/DejaVuSerif-Light.ttf");
  font-family: 'DejaVuSerif';
  font-weight: 100;
}
*/

.my-body{
  font-family: 'DejaVuSerif', sans-serif;
  font-weight: 300;
}

.main-menu{
  display: flex;
  justify-content: space-between;
  width: 580px;
  list-style: none;
  padding-top: 16px;
  padding-right: 70px;
}

.menu-link{
  text-transform: uppercase;
  color: #ffffff;
  font-size: 13px;
}

.main-menu-container{
  display: flex;
  justify-content: space-between;
  padding-left: 57px;
  padding-top: 43px;
}

.header{
  background-image: url('./images/background.jpg');
  height: 890px;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.main-title{
  color: #ffffff;
  font-size: 40px;
  text-transform: uppercase;
  position: absolute;
  bottom: 140px;
  left: 120px;
}

.subtitle{
  color: #ffffff;
  font-size: 15px;
  margin-left: 200px;
  text-transform: uppercase;
  bottom: 145px;
  left: 80px;
  position: absolute;
}

.main{
  background: #a2ca28;
}

.benefits{
  display: flex;
  justify-content: space-between;
  list-style: none;
  width: 800px;
  margin: 0 auto;
  padding-left: 0;
  color: #ffffff;
  padding-top: 40px;
}

.link-item{
  color: #ffffff;
  font-size: 14px;
  text-decoration: none;
}

.benefits__title{
  font-size: 24px;
}

.benefits__text{
  font-size: 14px;
}

.item{
  background: #fff;
  padding: 15px;
  text-align: center;
}

.item__title{
  font-weight: 100;
  color: #a2ca28;
  font-size: 35px;
}

.item__subtitle{
  font-size: 14px;
  color: #fd634e;
}

.item__paragraph{
  font-size: 14px;
  color: #656e74;
}

.item__link{
  color: #a2ca28;
  font-size: 14px;
}

.row{
  display: flex;
}

.item__image{
  position: relative;
}

.item__image::before{
  display: block;
  background: rgba(0, 0, 0, 0.3);
  height: 100%;
  position: absolute;
  width: 100%;
  content: '';
  opacity: 0;
  transition: all 0.5s;
}

.item__image-hover{
  position: absolute;
  width: 100%;
  opacity: 0;
  top: 50%;
  margin-top: -24px;
  text-align: center;
  transition: all 0.5s;
}

.item__image:hover .item__image-hover{
  opacity: 1;
}


.item__image:hover::before{
  opacity: 1;
}